@import "tailwindcss";

:root {
  /* Brand Colors */
  --primary: #4F46E5;        /* Main Blue (Navbar) */
  --primary-dark:#4338CA;   /* Hover Blue */
  --primary-light: #fffafa;  /* Light Blue Background */

  --second: #f4f5f7e2;      /* Slate Gray */
  --secondary-dark: #feffff;

  --accent: #EEF2FF;         /* Sky Blue Accent */

  --success: #30db6f;
  --success-dark:#0e9b3d;
  --danger: #dc2626;
  --warning: #f59e0b;

  --bg: #0f172a;
  --card-bg: #1e293b;
}
body {
  background-color: var(--bg);
}
/* Backgrounds */
.bg-primary { background-color: var(--primary); }
.bg-primary-dark { background-color: var(--primary-dark); }
.bg-primary-light { background-color: var(--primary-light); }

.bg-secondary { background-color: var(--second); }
.bg-accent { background-color: var(--accent); }

.bg-success { background-color: var(--success); }
.bg-danger { background-color: var(--danger); }

/* Text */
.text-primary { color: var(--primary); }
.text-secondary { color: var(--secondary); }
.text-danger { color: var(--danger); }

/* Hover */
.hover-primary:hover {
  background-color: var(--primary-dark);
  transition: 0.2s ease;
}

.hover-secondary:hover {
  background-color: var(--secondary-dark);
  transition: 0.2s ease;
}
.hover-accent:hover{
  background-color: #fefeff;
  transition: 0.2s ease;
}
.btn-primary {
  background-color: var(--primary);
  color: white;
  padding: 8px 60px;
  border-radius: 6px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: all 0.2s ease;
}
@media (min-width: 640px) {
  .btn-primary {
    padding: 8px 60px;
    width: auto;
  }
}
.btn-primary:hover {
  background-color: var(--primary-dark);
  transition: 0.2s ease;
}
.btn-primary2 {
  background-color: var(--success);
  color: white;
  padding: 8px 50px;
  border-radius: 6px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: all 0.2s ease;
}
@media (min-width: 640px) {
  .btn-primary2 {
    padding: 8px 50px;
    width: auto;
  }
}
.btn-primary2:hover {
  background-color: var(--success-dark);
  transition: 0.2s ease;
}
.btn-outline-danger {
  border: 1px solid var(--danger);
  color: var(--danger);
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.btn-outline-danger:hover {
  background-color: rgba(220, 38, 38, 0.08);
  transition: 0.2s ease; 
}

/* Card */
.card {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}


.block{
    text-decoration: none;
    color: rgb(12, 12, 12);
    margin-top: 20px;
    font-size: larger;
}
/* .sidebar{
    background-color: white;
} */
/* th{
    background-color: rgb(180, 180, 250);
    
    
} */
th,td{
    padding: 15px;
    
}
td{
    margin-left: auto;
}
tbody tr:hover{
   background-color: rgb(232, 247, 251);
}


.text-white, .bg-red-400{
    border-radius: 8px;
}
.showdata{
    padding:5px 20px;
    background-color: white;
}
.pageheader{
  padding:4px 20px;
  background-color: rgb(252, 252, 252);
}
.badge-active { 
  display: inline-flex;
  align-items: center;
  justify-content: center;
    background: #7bffa5; 
    color: #22543d; 
    padding: 3px 20px;
    border-radius: 10px;
}
.badge-inactive { 
  display: inline-flex;
  align-items: center;
  justify-content: center;
    background: #fab3b3; 
    color: #822727;
    padding: 3px 15px;
    border-radius: 10px;
 }
 .mention {
    color: #2563eb;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.popup {
    position: absolute;
    z-index: 9999;
    display: block !important;
}

.mention:hover .popup {
    display: block;
}